{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-row grid-row-center">
        <form method="post" class="form" id="auth-form">

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="auth-email">
                    {{ 'auth.email'|trans }}
                </label>
                <input type="email" 
                       value="{{ last_username }}" 
                       name="email" 
                       id="auth-email"
                       class="form-control" 
                       required="" 
                       autofocus=""
                />
            </div>

            <div class="form-group">
                <label for="inputPassword">
                    {{ 'auth.password'|trans }}
                </label>
                <input type="password"
                       name="password"
                       id="inputPassword"
                       class="form-control"
                       required=""
                />
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            />

            <div class="form-group">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me">
                        {{ 'auth.remember_me'|trans }}
                    </label>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">
                {{ 'auth.submit'|trans }}
            </button>
        </form>
    </div>
{% endblock %}
