{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-row grid-row-center">
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
            
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors">
                    {{ form_errors(form.name) }}
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors">
                    {{ form_errors(form.email) }}
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors">
                    {{ form_errors(form.phone) }}
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors">
                    {{ form_errors(form.password.first) }}
                </div>
            </div>
            
            <div class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors">
                    {{ form_errors(form.password.second) }}
                </div>
            </div>
        
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    {{ 'reg.create'|trans }}
                </button>
            </div>
            
            <div class="form-group">
                <p>
                    {{ 'reg.already_have'|trans }}
                    <a href="{{ path('app_login') }}">
                        {{ 'app.sign_in'|trans }}
                    </a>
                </p>
            </div>
            
        {{ form_end(form) }}
    </div>
{% endblock %}
