<div id="cart">
    <div class="cart-amount btn btn-secondary btn-sm">
        <span class="fas fa-shopping-cart"></span>
        <span class="cart-money">
            {{ sum|format_currency(currency) }}
        </span>
        <span class="fas fa-chevron-down"></span>
    </div>
    <div class="cart-dropdown">
        <div class="cart-items">
            <div class="cart-product-empty">
                {{ 'cart.empty'|trans }}
            </div>
        </div>
        <div class="cart-controls">
            <a href="{{ path('checkout') }}" class="btn btn-link">
                {{ 'cart.checkout'|trans }}
            </a>
        </div>
    </div>
</div>
