{% extends 'base.html.twig' %}


{% block body %}
    <div class="cards">
        {% for product in products %}
            <div class="card" data-id="{{ product.id }}">
                <div class="card-content">
                    <img src="{{ product.picture }}" 
                         alt="{{ product.name|e('html_attr') }}"
                         class="card-image"
                    />
                    <div class="card-title">
                        {{ product.name|e }}
                    </div>
                    <div class="card-text">
                        {{ product.description|e }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="price-block">
                        <div class="price {{ product.discount ? 'price-old' : '' }}">
                            {{ product|price|format_currency(currency) }}
                        </div>
                        {% if product.discount %}
                            <div class="discount">
                                {{ product|discount|format_currency(currency) }}
                            </div>
                        {% endif %}
                    </div>
                    <button class="btn btn-primary cart-add-btn">
                        <span class="fas fa-pizza-slice"></span>
                        {{ 'cart.add'|trans }}
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
