:root {
    --primary-color: #152;
    --primary-color-lighter: #162;
    --secondary-color: #ddd;
    --bg-color: #fefefe;
    --bg-color-darker: #f0f0f0;
    --font-color: #001100;
    --font-color-secondary: #889988;
    --font-color-inverted: var(--bg-color);
    
    --link-color: var(--primary-color);
    --link-hover-color: var(--primary-color-lighter);
    --border-color: var(--secondary-color);
    --border-height: 0.125em;
    
    --error-color: #a22;
}

* {
    box-sizing: border-box;
}

html {
    /*display: block;*/
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;

}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none;
}

label {
    font-weight: 500;
}

.grid-row {
    display: flex;
    flex-direction: row;
    
}

.grid-row-center {
    align-items: center;
    justify-content: space-around;
}

table {
    width: auto;
    border-collapse: collapse;
}

th {
    text-align: left;
}

tfoot th {
    font-weight: 600;
    text-align: right;
}

tr:nth-child(even) {
    background-color: var(--bg-color-darker);
}

td, th {
    padding: 0.25em 0.5em;
}
