.cards {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

@media screen and (min-width: 480px) {
    .cards {
        flex-flow: row wrap;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 20em;
    margin: 0 1em 2em;
}

.card-content {}

.card-image {
    border: none;
    border-radius: 0.5em;
    width: 20em;
    height: 20em;
}

.card-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.card-text {
    color: #565;
    font-weight: 400;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
