.form {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}

@media screen and (min-width: 480px) {
    .form {
        align-self: center;
        width: 30em;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control {
    border: var(--border-height) solid var(--border-color);
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    box-shadow: inset 0 0 0.35em #e0e0e0;
}

.form-control:focus {
    border-color: var(--primary-color);
}

.form-errors > ul {
    padding: 0 0.5em;
    margin: 0;
    list-style: none;
    color: var(--error-color);
    font-weight: 400;
}

.btn {
    display: inline-block;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    cursor: pointer;
}

.btn-sm {
    padding: 0.25em 0.5em;
}

.btn-primary {
    border: none;
    background: var(--primary-color);
    color: var(--font-color-inverted);
}

.btn-primary:hover {
    background: var(--primary-color-lighter);
}

.btn-secondary {
    background: var(--bg-color);
    border: var(--border-height) solid var(--border-color);
}

.btn-secondary:hover {
    background: var(--bg-color-darker);
}

.btn-link {
    border: none;
    background: transparent;
}

.btn[disabled] {
    opacity: 0.4;
}