footer {
    margin-top: auto;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    background: var(--primary-color);
    color: var(--font-color-inverted);
    align-items: center
}

.currency-link {
    color: var(--font-color-inverted);
    margin: 0 0.5em;
}