.header {
    width: 100%;
    padding: 0.25em 0;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--bg-color);
    padding: 0.25em 0.5em;
    margin-bottom: 1em;
}

.header-logo {
    display: block;
    height: 1em;
    
    text-align: center;
    line-height: 1em;
    
    padding-left: 1em;
    
    background: url(../images/logo.png) left center no-repeat;
    background-size: contain;
    font-family: 'Titillium Web', sans-serif;
    
    font-size: 2em;
}

@media screen and (min-width: 600px) {
    .header {
        flex-direction: row;
    }
    
    .header-logo { 
        font-size: 3.5em;
    }
    
}

.phone-line {
    text-align: center;
}

.header-controls {
    display: flex;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-link {
    display: inline-block;
    margin-right: 0.25em;
    padding: 0.25em 1em;
    border: var(--border-height) solid var(--border-color);
    border-radius: 1.25em;
}

.header-link-primary {
    background: var(--link-color);
    border: none;
    color: var(--font-color-inverted);
}

.header-link-primary:hover {
    background: var(--link-hover-color);
    color: var(--font-color-inverted);
}
