#cart {
    position: relative;
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 0.25em);
    right: 1em;
    width: 25em;
    border: var(--border-height) solid var(--border-color);
    padding: 1em;
    background: var(--bg-color);
    box-shadow: 0 0 1em var(--secondary-color);
}

.cart-dropdown.active {
    display: block;
}

.cart-items {
}

.cart-amount {
    margin-right: 1em;
}

.cart-money {
    margin: 0 1em;
}

.cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 0.5em;
}

.cart-product:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.cart-item-qty {
    display: flex;
}

.cart-dec-btn {
    border-radius: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.cart-inc-btn {
    border-radius: 0;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.cart-qty-input {
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    width: 4em;
    text-align: center;
}

.cart-product-empty {
    display: none;
}

.cart-product-empty:only-child {
    display: block;
}

.cart-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}
