.checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
    margin: 0 auto;
}

.checkout-table {
    width: 100%
}

.checkout-name {
    width: 60%;
}

.delivery-separator {
    font-weight: 500;
    margin: 1em 0;
    font-size: 1.2em;
    font-family: 'Titillium Web', sans-serif;
}

.delivery-address-list {
    width: 100%;
    margin-bottom: 1em;
}

.delivery-address {
    display: flex;
    align-items: center;
    padding: 1em;
    border: 0.125em solid var(--border-color);
    background-color: var(--bg-color-darker);
    margin-bottom: 0.25em;
}

.delivery-address-label {
    min-width: 16em;
    display: flex;
    align-items: center;
}

.delivery-address-input {
    width: 100%;
}

.checkout-success {
    text-align: center;
}

.success-header {
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
}

.checkout-table > tbody > .checkout-item:only-child .checkout-remove-btn {
    display: none;
}
