.price-block {
    display: flex;
    align-items: center;
}

.price {
    font-size: 1.2em;
    font-weight: 500;
    position: relative;
}

.price-old::after {
    content: "";
    width: 120%;
    border-bottom: 0.25em solid #a11;
    position: absolute;
    top: 50%;
    transform: rotate(-15deg);
    left: -10%;
}

.discount {
    font-size: 1.4em;
    color: #a11;
    font-weight: 500;
    margin-left: 0.5em;
}
