<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&family=Titillium+Web:wght@400;600&display=swap" rel="stylesheet" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <title>{% block title %}BoringPizza &mdash; {{ 'app.motto'|trans }}{% endblock %}</title>
    </head>
    <body>
        <header class="sticky">
            <div class="header">
                <a href="{{ path('default') }}" class="header-logo">
                    BoringPizza
                </a>
                <div class="header-phone">
                    <div class="phone-line">
                        {{ 'app.callback'|trans }}
                    </div>
                    <div class="phone-line">
                        {{ 'app.call_us'|trans }}:
                        <a href="tel:+88000000000">8 800 000-00-00</a>
                    </div>
                </div>
                <div class="header-controls">
                    {% block cart %}
                        <div class="header-group">
                            {{ render(controller('App\\Controller\\CartController::widget')) }}
                        </div>
                    {% endblock %}
                    
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="header-group">
                            <a href="{{ path('app_register') }}" class="header-link header-link-primary">
                                {{ 'app.sign_up'|trans }}
                            </a>
                            <a href="{{ path('app_login') }}" class="header-link">
                                {{ 'app.sign_in'|trans }}
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <div class="header-group">
                            <a href="#" class="header-link">
                                {{ app.user.email }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <footer>
            <div class="copyright">BoringPizza &copy; 2020</div>
            <div class="currency">
                Currency: 
                <a href="{{ path('currency', {'c': 'USD'}) }}" class="currency-link">
                    <span class="fas fa-dollar-sign"></span>
                </a>
                |
                <a href="{{ path('currency', {'c': 'EUR'}) }}" class="currency-link">
                    <span class="fas fa-euro-sign"></span>
                </a>
            </div>
        </footer>
    </body>
</html>
