<table class="checkout-table" data-currency="{{ currency }}">
    <colgroup>
        <col class="checkout-name" />
    </colgroup>
    <thead>
        <tr>
            {# FIXME #}
            <th>Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i, item in order.orderItems %}
            <tr class="checkout-item">
                <td>
                    <input type="hidden" 
                           name="checkout[items][{{ i }}][id]"
                           value="{{ item.product.id }}"
                    />
                    {{ item.product.name|e }}
                </td>
                <td class="checkout-item-price" data-price="{{ item.product|cart_price }}">
                    {{ item.product|cart_price|format_currency(currency) }}
                </td>
                <td>
                    <div class="cart-item-qty">
                        <button type="button" class="btn btn-secondary cart-dec-btn">
                            <span class="fas fa-minus"></span>
                        </button>
                        <input type="text"
                               class="form-control cart-qty-input"
                               value="{{ item.qty }}"
                               name="checkout[items][{{ i }}][qty]"
                               readonly=""
                        />
                        <button type="button" class="btn btn-secondary cart-inc-btn">
                            <span class="fas fa-plus"></span>
                        </button>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-link checkout-remove-btn">
                        <span class="fas fa-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>
                Sum
            </th>
            <td id="checkout-sum">
                {{ sum|format_currency(currency) }}
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>
                Delivery fee
            </th>
            <td id="checkout-delivery-fee" data-price="{{ deliveryFee }}">
                {{ deliveryFee|format_currency(currency) }}
            </td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>
                Total
            </th>
            <td id="checkout-total">
                {{ (deliveryFee + sum)|format_currency(currency) }}
            </td>
            <td colspan="2"></td>
        </tr>
    </tfoot>
</table>
