{% extends 'base.html.twig' %}

{% block cart %}{# we don't need it at this point #}{% endblock %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for message in app.flashes('checkout') %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <form action="{{ path('checkout') }}" method="post" id="checkout-form">
        <input type="hidden" name="_token" value="{{ csrf_token('checkout') }}" />
        
        <div class="checkout">
            {% include 'checkout/_products.html.twig' %}

            <div class="delivery-separator">
                {{ 'checkout.contacts'|trans }}
            </div>
            
            <div class="delivery-address-list">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and addresses %}
                    {% for i, address in addresses %}
                        <div class="delivery-address">
                            <input type="radio" 
                                   {{ address.isDefault ? 'checked=""' : '' }}
                                   value="{{ address.id }}"
                                   name="checkout[address_id]"
                                   required=""
                                   class="delivery-address-radio"
                                   id="checkout-address-{{ i }}"
                            />
                            <label for="checkout-address-{{ i }}">
                                {{ address.address }}
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="delivery-address">
                    <label for="checkout-new-address" class="delivery-address-label">
                        {% if addresses is empty %}
                            {{ 'checkout.address'|trans }}:
                        {% else %}
                            <input type="radio" 
                                   name="checkout[address_id]" 
                                   value=""
                                   required=""
                                   id="checkout-new-address"
                            />
                            {{ 'checkout.new_address'|trans }}:
                        {% endif %}
                    </label>
                    <input type="text" 
                           class="form-control delivery-address-input"
                           value=""
                           name="checkout[address]"
                    />
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    {{ 'checkout.submit'|trans }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
