{% extends 'base.html.twig' %}

{% block cart %}{# we don't need it at this point #}{% endblock %}

{% block body %}
    <div class="checkout-success">
        <div class="success-header">
            {{ 'checkout.success'|trans({'{orderId}': order.id}) }}
        </div>
        <div class="success-content">
            {{ 'checkout.success_contact'|trans }}
        </div>
    </div>
{% endblock %}